.roleGroupCreate {
  .title {
    margin-bottom: 1.5rem;
  }

  .ant-form-item-label {
    color: #4a4a4a;
    font-weight: 600;
  }

  .save {
    margin-top: 1rem;
    width: 5.5625rem;
  }

  .table {
    margin-top: 1.75rem;
  }
}
