.userGrowthReports {
  .btn-refetch {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }

  .w-full {
    width: 100%;
  }

  .h-full {
    height: 100%;
  }

  .mb-24 {
    margin-bottom: 24px;
  }

  .card-title {
    font-size: 1.25rem;
    font-weight: 500;
  }
}
