.accountDetail {
  .title {
    margin-bottom: 0;
  }

  .status {
    font-size: 1rem;
    display: block;
    margin-bottom: 10px;
  }

  .link {
    font-size: 1rem;
    color: #2aa7df;
  }

  .table {
    margin-top: 12px;
    margin-bottom: 24px;
  }
}
